@import '../node_modules/react-date-picker/index.css';
@import '../node_modules/react-datepicker/dist/react-datepicker.css';
@import './analytics.css';

#menu-bar {
    background-color: #444444;
    border-bottom: 1px solid #81B3DF;
}

#menu-bar .text-info {
    color: #81B3DF;
}

.problem-date {
    margin-bottom: 10px;
}

ul.navbar-nav li {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

ul.navbar-nav li:hover {
    border-left: 1px solid #81B3DF;
    border-right: 1px solid #81B3DF;
}

a.selected, a.selected:hover {
    background-color: #51A3FF;
}

ul.vehicle-dropdown {
    max-height: 300px;
    overflow: scroll;
}

ul.vehicle-dropdown .list-group-item {
    border: none;
}

ul.vehicle-dropdown .list-group-item:hover {
    background-color: #51A3FF;
}

.content {
    margin-top: 60px;
    margin-bottom: 10px;
}

.problem-table-container {
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    border: 1px solid gray;
    margin-top: 3px;
    padding: -1px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table.problem-list {
    margin: -1px;
}

td.only {
    font-size: 14pt;
}

td, th {
    padding: 5px !important;
    border: 1px solid gray;
    white-space: nowrap;
}

.map {
    border: 1px solid gray;
    margin-top: -1px;
}

th {
    background-color: #444444;
    color: white;
}

td.center {
    text-align: center;
}

td.ahead {
    background-color: #9999FF;
}

td.behind {
    background-color: #FF9999;
}

td.ontime {
    background-color: #99FF99;
}

td.fade-in {
  animation-duration: 2s;
  animation-name: fadein;
}

table.col-fill-1 td:nth-child(1), table.col-fill-2 td:nth-child(2), table.col-fill-3 td:nth-child(3),
table.col-fill-4 td:nth-child(4), table.col-fill-5 td:nth-child(5), table.col-fill-6 td:nth-child(6) {
    width: 100%;
}

@keyframes fadein {
  from {
    background-color: #51A3FF;
  }

  to {
    background-color: transparent;
  }
}

tr:nth-child(2n) {
    background-color: #CCDDFF;
}

tr:nth-child(2n+1) {
    background-color: #EEEEEE;
}



table.hot-track-row tr:hover > td, table.hot-track-cell td:hover {
    background-color: #51A3FF;
    cursor: pointer;
}

table.selectable-row tr.selected > td {
    background-color: #51A3FF;
    cursor: default !important;
}

div.day-view {
    display: inline-block;
    margin-left: 10px;
    margin-top: 1px;
}

div.day {
    display: inline-block;
    width: 40px;
    height: 50px;
    border: 1px solid black;
    margin-left: -1px;
    margin-top: -1px;
    background-color: white;
    text-align: left;
}

div.day span.week-day {
    margin: 0;
    margin-left: 2px;
    padding: 0;
    font-size: 8pt;
    font-weight: normal;
    color: black;
}

div.day span.problem-count {
    display: block;
    text-align: center;
    color: #333333;
    font-weight: bold;
    font-size: 14pt;
    margin-top: -5px;
}

div.day:not(.off-month):hover {
    background-color: #51A3FF;
    cursor: pointer;
}

div.day.today {
    background-color: #81B3DF;
}

div.day.off-month {
    background-color: #DDDDDD;
}

div.day.off-month span.week-day {
    color: #AAAAAA;
}

div.day.off-month span.problem-count {
    color: transparent;
}

.problem-calendar {
    width: 100%;
    text-align: center;
}

div.month {
    display: inline-block;
    margin-left: 5px;
}

div.month span.title {
    display: block;
    width: calc(100% + 1px);
    padding: 3px;
    border: 1px solid black;
    text-align: center;
    background-color: #81B3DF;
    margin-left: -1px;
    font-weight: bold;
}

div.month:first-child {
    margin-left: none;
}

